.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding-block: 60px;
}

.footer__container {
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.footer__socials {
  display: flex;
  column-gap: 20px;
}

.footer__social-link {
  color: var(--title-color);
  font-size: var(--h5-font-size);
  transition: all 0.7s var(--transition);
}

.footer__social-link:hover {
  color: var(--primary-color);
}

.footer__copyright:nth-child(2) {
  justify-self: center;
}

.footer__copyright:nth-child(3) {
  justify-self: flex-end;
  margin-left: 50px;
}

.footer__copyright {
  font-size: var(--tiny-font-size);
  font-weight: 700;
}

.footer__container span {
  color: var(--primary-color);
}

@media only screen and (max-width: 768px) {
  .footer {
    padding-block: 50px;
  }

  .footer__socials {
    column-gap: 15px;
    margin-bottom: 0px;
  }

  .footer__social-link {
    font-size: var(--smaller-font-size);
  }

  .footer__copyright {
    font-size: 10px;
    font-weight: 700;
  }
}

@media only screen and (max-width: 576px) {
  .footer {
    padding-block: 30px;
  }

  .footer__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__socials {
    column-gap: 15px;
    margin-bottom: 0px;
    justify-self: center;
  }

  .footer__social-link {
    font-size: var(--smaller-font-size);
  }

  .footer__copyright:nth-child(2) {
    justify-self: center;
  }

  .footer__copyright:nth-child(3) {
    justify-self: center;
    margin-left: 0;
  }
}
